@font-face {
    font-family: 'my futura pt';
    src: url('./Futura/FuturaPTBold.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'my futura pt', sans-serif;
    color: #fff;
}

.main {
    width: 100%;
    padding: 10px;
}

.sid_card {
    border-radius: 10px;
    max-width: 450px;
    overflow: auto;
    background-image: url('./header.jpg');
    background-size: cover;
    margin-bottom: 5px;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrcode {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
}

.s_header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 60%;
    margin-left: 20px;
}

.image_logo {
    width: 80px;
    border-radius: 10px;
}

.col_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 78px 0 0 ;
}

.image_wrapper {
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 50%;
}

.main_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.student_wrapper {
    height: 22%;
    padding: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.item {
    margin: 5px;
    font-size: 12px;
}

.item>span {
    display: block;
    font-size: 12px;
}