.content_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.left_container {
    max-width: 350px;
    display: flex;
    gap: 50px;
    padding: 30px 0;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login_title {
    font-weight: 600;
    font-size: 2em;
    padding: 0 10px;
    color: #00a0a0;
    text-align: center;

}

.login_description {
    font-weight: 500;
    font-size: 1em;
    padding: 0 10px;
    color: #888;
    text-align: center;

}

.login_wrapper {
    padding: 0  0 0 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.login_button_image {
    background-color: #00a0a0;
    border-radius: 5px;
    padding: 15px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_button span {
    font-family: 'Poppins', sans-serif;
    padding: 10px 30px;
    text-decoration: none !important;
    font-weight: 900;
    font-size: 1.2em;
    color: #fff;
}

.login_button {
    background-color: #00babc;
    border: none;
    padding: 0;
    border-radius: 5px;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.login_button:hover {
    background-color: #00a0a0;
    cursor: pointer;
}
.right_container {
    border-radius: 5px;
    flex: 1;
    width: 500px;
    height: 450px;
    background-image: url(/books.jpeg);
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 768px) {
    .right_container {
        display: none;
    }
}